<h3>I'm in the App Component here...!!!</h3>
<hr>
<!-- This component has 2 instances of the app-server component seen in the html file -->

<app-servers></app-servers>
<!-- <app-success-alert></app-success-alert>
<app-warning-alert></app-warning-alert> -->


<!-- This is a sample Project work
<input class="form-control" type="text" [(ngModel)]="username">
<p>{{ username }}</p>
<button class="btn btn-primary" [disabled]="username===''" (click)="username=''">Add</button>-->


<!-- <div app-servers></div> -->

<!-- <div class="app-servers"></div> -->

<!-- ASSIGNMENT 03
<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ol>
          <li>Add A button which says 'Display Details'</li>
          <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
          <li>Toggle the displaying of that paragraph with the button created in the first step</li>
          <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
          <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
        </ol>
        <hr>
        <button (click)="buttonToggler()" class="btn btn-primary" >Display Details</button>
        <p *ngIf="toggler">Secret Password = TUNA</p>
        <div *ngFor="let item of log"
        [ngClass]="{'white-text': item>=5}"
        [ngStyle]="{backgroundColor: item>=5 ? 'blue' : 'transparent'}">{{ item }}</div>
      </div>
    </div>
  </div> -->